{% extends 'index_template.html' %}

{% block content %}
<article class="main">
<h4>Посадочные места винограда</h4>
<table id="table">
    <thead>
    <tr>
        <th>№ п/п</th>
        <th>Название</th>
        <th>Дата посадки</th>
        <th colspan="2">Место расположения</th>
        <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    {% for res in result %}
    {{ res|safe}}
    {% endfor %}
    </tbody>
</table>
</article>
{% endblock %}

{% block left %}
{% include 'jornal/left.html' %}
{% endblock %}